.search_list {
    padding: 0 20px;
    box-shadow: 2px 2px 4px #eee;
    margin-bottom: 41px;
    :deep(.arco-form-item-label-col) {
        // justify-content: flex-start;
        width: 100%;
        flex: 0 0 100px;
    }

    :deep(.arco-form-item-wrapper-col) {
        width: 100%;
        flex: 0 0 calc(100% - 100px);
    }
}

.list_content {
    padding: 0px 20px 20px 20px;

    .list_title {
        color: #165DFF;
        font-size: 20px;
        margin: 20px 0;

        .text {
            display: inline-block;
            margin-left: 10px;
        }
    }
}
.tip p {
    margin: 0;
}