/* 公共样式 */
.container {
    padding: 0 20px;
  }
  /* 文本 */

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 弹性盒子 */

.flex {
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
}

.iflex {
  display: -webkit-inline-flex;
  display: inline-flex;
}

.dc {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.fw {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.jc {
  -webkit-justify-content: center;
  justify-content: center;
}

.js {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.je {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.jb {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.ja {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.as {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.ac {
  -webkit-align-items: center;
  align-items: center;
}

.ae {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.f0 {
  -webkit-flex: 0;
  flex: 0;
}

.fg {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.fn {
  -webkit-flex: none;
  flex: none;
}

/* 盒模型 */

.c-box {
  box-sizing: content-box;
}

.b-box {
  box-sizing: border-box;
}
/* 行内块级 */
.block {
  display: inline-block;
}

/* 单行省略 */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 多行省略 */
.mg_ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}